{% extends "base.html" %}

{% block nav-blog %}class="active"{% endblock %}

{% block content %}
{% if post_list %}
  {% for post in post_list %}
      <h2>{{ post.title }}</h2>
      <div class="post_date"><p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}</p></div>
      <div class="post_body">
        {{ post.excerpt|safe }}
      </div>
      
      <h6><a href="{{ post.get_absolute_url }}">[Read More]</a></h6>
  
      {% include 'blog/_post_meta.html' %}
  
      <hr />
  {% endfor %}
{% else %}
  <h2>No posts here.</h2>
  <br />
  <p>Well, this is awkward.</p>
{% endif %}

{% include 'blog/_post_paginator.html' %}

{% endblock %}
