{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block nav-blog %}class="active"{% endblock %}

{% block content %}
{% if post_list %}
  {% for post in post_list %}
    <div class="well">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <div class="post_date">
          <p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}</p>
        </div>
        
        <div class="first_image">
          {% with first_img=post.get_first_image %}
            {% if first_img %}
              {% with img_thumb=first_img.full_image.thumbnail.200x200 %}
              <img class="img-responsive" src="{{ img_thumb }}" alt="{{ post.title }}" height="{{ img_thumb.height }}" width="{{ img_thumb.width }}"/>
              {% endwith %}
            {% endif %}
          {% endwith %}
        </div>
        
        <div class="post_body">
          {{ post.excerpt|safe }}
        </div>
    
        {% include 'blog/_post_meta.html' %}
        
    </div>
  
      <hr />
  {% endfor %}
{% else %}
  <h2>No posts here.</h2>
  <br />
  <p>Well, this is awkward.</p>
{% endif %}

{% include 'blog/_post_paginator.html' %}

{% endblock %}
