{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block nav-blog %}class="active"{% endblock %}

{% block content %}
{% if post_list %}
  {% for post in post_list %}
    <div class="well">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <div class="post_date">
          <p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}</p>
        </div>
        <div class="post_body">
          {{ post.excerpt|safe }}
        </div>
    
        {% include 'blog/_post_meta.html' %}
        
    </div>
  
      <hr />
  {% endfor %}
{% else %}
  <h2>No posts here.</h2>
  <br />
  <p>Well, this is awkward.</p>
{% endif %}

{% include 'blog/_post_paginator.html' %}

{% endblock %}
