{% if post.approved_comments %}
    {% load mptt_tags %}
    <ul class="media-list" id="comment-list">
    {% recursetree post.approved_comments %}
        {% if not node.is_child_node %}
            <li class="media" id="comment{{ node.pk }}">
        {% else %}
            <div class="media" id="comment{{ node.pk }}">
        {% endif %}
            <div class="media-left">
                <a href="{{ node.author.get_profile_url }}">
                    <img class="media-object" src="{{ node.author.get_image_url }}" alt="testing" height="50" width="50" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {% if node.author.website %}
                        <a href="{{ node.author.website }}">{{ node.author.username }}</a>
                    {% else %}
                        {{ node.author.username }}
                    {% endif %}
                </h4>
                <a href="{{ node.get_absolute_url }}"><small class="text-muted">{{ node.pub_date }}</small></a>
                {% if node.imported %}
                    {{ node.html_text|safe }}
                {% else %}
                    <p>{{ node.text|escape|urlize|linebreaksbr }}</p>
                {% endif %}
                <p><a href="#comment{{ node.pk }}" class="comment-reply-link">Reply</a></p>
            {% if not node.is_leaf_node and node.level < 2 %}
                {{ children }}
                </div>
            {% elif not node.is_leaf_node and node.level >= 2 %}
                </div>
                {{ children }}
            {% endif %}
        {% if not node.is_child_node %}
            </li>
        {% else %}
            </div>
        {% endif %}
    {% endrecursetree %}
    </ul>
{% else %}
    <h3>No comments found.</h3>
    <br>
{% endif %}

<div class="well" id="comment-form">
    <h4><strong>Leave a comment</strong></h4>
    <p id='cancel-reply' hidden><a href="#comment-form" class='comment-reply-cancel'>Cancel Reply to Comment</a></p>
    <form class="form-group" action="{{ post.get_absolute_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><div class="checkbox">
            <label><input type="checkbox" name="notify" {% if comment_notify %}checked{% endif %}/>Notify me with replies</label>
        </div></p>
        <input type="submit" class="btn btn-primary" value="Post Comment" />
    </form>
</div>