{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <div class="post_date"><p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}</p></div>
    <hr>
    <div class="post_body">
        {{ post.body_html|safe }}
    </div>
    <hr />
    {% include 'blog/_post_meta.html' %}
    <hr />
    
    {% if post.comments.all %}
        {% load mptt_tags %}
        <ul class="media-list">
        {% recursetree post.comments.all %}
            {% if not node.is_child_node %}
                <li class="media" id="comment{{ node.pk }}">
            {% else %}
                <div class="media" id="comment{{ node.pk }}">
            {% endif %}
                <div class="media-left">
                    <a href="{{ node.author.get_profile_url }}">
                        <img class="media-object" src="{{ node.author.get_image_url }}" alt="testing" height="64" width="64" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Test Comment</h4>
                    <p>{{ node.text|escape|urlize|linebreaks }}</p>
                    <p><a href="#">Reply</a></p>
                {% if not node.is_leaf_node %}
                    {{ children }}
                {% endif %}
                </div>
            {% if not node.is_child_node %}
                </li>
            {% else %}
                </div>
            {% endif %}
        {% endrecursetree %}
        </ul>
    {% else %}
        <p>No comments found.</p>
    {% endif %}
{% endblock %}
