{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <div class="post_date"><p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}</p></div>
    <hr>
    <div class="post_body">
        {{ post.body_html|safe }}
    </div>
    <hr />
    {% include 'blog/_post_meta.html' %}
    <hr />
    
    {% include 'blog/_post_comments.html' %}
    
    <div class="well" id="comment-form">
        <h4><strong>Leave a comment</strong></h4>
        <form class="form-group" action="{{ post.get_absolute_url }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Post Comment" />
        </form>
    </div>
    
{% endblock %}
