{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
{% if page_header %}
  <h2>{{ page_header }}</h2>
  <hr />
{% endif %}
{% for post in post_list %}
  <div class="well">
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <div class="post_date">
        <p class="text-muted">Published on {{ post.pub_date|date:"F j, Y" }}. <a href="{{ post.get_absolute_url }}#comment_section">{{ post.get_comment_count }}</a></p>
      </div>
      
      <div class="first_image">
        {% with first_img=post.first_image %}
          {% if first_img %}
            {% with img_thumb=first_img.thumbnail.200x200 %}
            <img class="img-responsive" src="{{ img_thumb }}" alt="{{ post.title }}" height="{{ img_thumb.height }}" width="{{ img_thumb.width }}"/>
            {% endwith %}
          {% endif %}
        {% endwith %}
      </div>
      
      <div class="post_body">
        {{ post.excerpt|safe }}
      </div>
  
      <div class="meta">
          <p>Posted in: <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></p>
          <p>
          {% for tag in post.tags.all %}
            <a href="/blog/tag/{{ tag.slug }}/"><span class="label label-default blog-tag">{{ tag.name }}</span></a>
          {% endfor %}
          </p>
      </div>
      
  </div>

    <hr />
{% empty %}
  <h3>No posts here.</h3>
  <br />
  <p>Well, this is awkward.</p>
{% endfor %}

{% if search %}
  {% include 'blog/_search_paginator.html' %}
{% else %}
  {% include 'blog/_post_paginator.html' %}
{% endif %}

{% endblock %}
