<div class="sidebar-module">
    {% load staticfiles %}
    <a href="http://www.facebook.com/marth.anime"><img src="{% static 'icons/facebook.png' %}"></a>
    <a href="http://www.twitter.com/marthaurion"><img src="{% static 'icons/twitter.png' %}"></a>
    <a href="/blog/feed"><img src="{% static 'icons/rss.png' %}"></a>
</div>

{% if categories %}
<div class="sidebar-module">
    <h4>Categories</h4>
    <ul>
    {% for cat in categories %}
        <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
        {% if cat.category_set.all %}
            <ul>
            {% for child in cat.category_set.all %}
                <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar-module">
    <h4>Blogroll</h4>
    <ul>
        <li><a href="http://www.reddit.com">Reddit</a></li>
        <li><a href="http://www.marthaurion.com">Shameless Plug</a></li>
        <li><a href="http://www.youtube.com">Youtubes</a></li>
        <li><a href="http://www.twitch.tv/marthaurion">More Shameless</a></li>
    </ul>
</div>