<div class="sidebar-module">
    <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default" onclick="setActiveStyleSheet('dark')">Dark</a>
        <a href="#" class="btn btn-primary" onclick="setActiveStyleSheet('light')">Light</a>
    </div>
</div>

<hr>

<div class="sidebar-module">
    {% load staticfiles %}
    <a href="http://www.facebook.com/marth.anime"><img src="{% static 'icons/facebook.png' %}"></a>
    <a href="http://www.twitter.com/marthaurion"><img src="{% static 'icons/twitter.png' %}"></a>
    <a href="http://feeds.feedburner.com/marthaurion/rzFS"><img src="{% static 'icons/rss.png' %}"></a>
</div>

{% if categories %}
<div class="sidebar-module">
    <h4>Categories</h4>
    <ul>
    {% for cat in categories %}
        <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
        {% if cat.category_set.exists %}
            <ul>
            {% for child in cat.category_set.all %}
                {% if child.post_set.exists %}
                <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                    <ul>
                    {% for grandchild in child.category_set.all %}
                        <li><a href="{{ grandchild.get_absolute_url }}">{{ grandchild.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar-module">
    <h4>Blogroll</h4>
    <ul>
        <li><a href="https://100wordanime.wordpress.com/">100WordAnime</a></li>
        <li><a href="http://www.animenano.com/">Anime Nano</a></li>
        <li><a href="https://theholybookofhappypeach.wordpress.com/">Happy Peach</a></li>
        <li><a href="https://deluscar.wordpress.com/">Kai's Anime Blog</a></li>
        <li><a href="http://www.marthaurion.net">Marth's Blog Archives</a></li>
        <li><a href="http://nightsworn.blogspot.com/">Nightsworn's Blog</a></li>
        <li><a href="https://nichinichichan.wordpress.com/">Nishi Nishi-chan</a></li>
        <li><a href="http://wanabrar.com/blog/">Wanabrar</a></li>
        <li><a href="https://yaharibento.wordpress.com/">Yahari Bento</a></li>
    </ul>
</div>

<div class="sidebar-module">
    <h4>Email Subscriptions</h4>
    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=marthaurion/rzFS', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p>Enter your email address and get a notification for each new post.</p>
        <p><input type="text" class="form-control" name="email" placeholder="Email Address" /></p>
        <input type="hidden" value="marthaurion/rzFS" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <button type="submit" class="btn btn-default">Subscribe</button>
        <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
    </form>
</div>