{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block nav-about %}class="active"{% endblock %}

{% load staticfiles %}
{% block content %}
    <h2>About</h2><br />
    <div class="post_body">
    <p><a href="{% static 'icons/Marth_and_Ike_by_NinaUsagi.jpg' %}"><img src="{% static 'icons/Marth_and_Ike_by_NinaUsagi_scale.jpg' %}" alt="placeholder" width="277" height="300" /></a></p>
    <p>For people who are new to this blog, let me give an introduction. Online I typically go by Marth, and I've been running this blog since 2011 (yeah, I know...I have issues). Originally, this blog was created as a way for me to write about anime, joining my personal interest with the ability to practice writing. Years down the road, my writing has...well, I'll let you be the judge of whether it's improved or not, but the blog is still here...somehow.</p>
    <p>So come along and watch as I try to be as sarcastic as possible while reviewing the anime I watch. Other stuff about me...uhh, I'm pretty particular about music and I like to highlight it whenever I can. If you want to find me in other venues, my Twitter and Facebook are linked on the sidebar. Or I suppose you could use the contact form to send me an email if you're feeling ambitious.</p>
    <p>The blog you're looking at is the latest version. It has the very distinctive trait of not being built on Wordpress. If you're interested in the details, I can say I built this blog with Django, a Python framework. Much of the functionality is designed by me, so...sorry if something's broken. I welcome any feedback, positive or negative, about the blog, so please tell me if there are things I can improve. I'm just here to learn.</p>
    </div>
    
    <hr />
    
{% endblock %}