{% extends "base.html" %}

{% block nav-about %}class="active"{% endblock %}

{% block content %}
    <h2>About</h2><br />
    <p><img class="img-responsive" src="#" alt="placeholder" width="277" height="300" /></p>
    <p>Why did I create this blog? Well, I created my original blog to try and build some form of writing ability while developing some opinions on anime. This specific blog was created so I could take a stab at web development.</p>
    <p>Come along and watch as I try to be as sarcastic as possible while reviewing the anime I watch. Historically, my blog has been episodic reviews of airing anime, but I'll try and see what other interesting topic-based editorials I can toss into the mix.</p>
    <p>Something else to point out. This blog is actually my own creation, rather than using a CMS like Wordpress. That doesn't really make it a better blog (actually, it probably just makes it worse), but it makes it mine. If you ever want to talk programming or make suggestions on what I can do to improve this site, let me know through comments or emailing me with the contact form. Feel free to insult the visual appearance of the blog too. If you've got suggestions to make it better, I will always take them into consideration.</p>
{% endblock %}