<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Marth's Anime Blog{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/live/darkv6.css' %}" title="dark" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'css/live/lightv6.css' %}" title="light" />
<script type="text/javascript" src="{% static 'js/jquery1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/allv4.min.js' %}" async></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1075113-9', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#marthbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Marth's Anime Blog</a>
            </div>

            <div class="collapse navbar-collapse" id="marthbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li {% block nav-about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
                    <li {% block nav-blogroll %}{% endblock %}><a href="{% url 'blogroll' %}">Blogroll</a></li>
                    <li {% block nav-contact %}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="/blog/category/editorial">Editorials</a></li>
                    <li><a href="/blog/category/reviews">Reviews</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="container">
            <h1>Marth's Anime Blog</h1>
        </div>
        
        <div class="container-fluid">
            <div class="banner">
                <img src="{% static 'banners/banner0.jpg' %}" alt="Marth's Site Banner" height="200" width="980" class="img-responsive" />
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
            <div id="content" class="col-md-8 col-sm-12">
                {% block content %}{% endblock %}
            </div> <!-- end #content -->

            <div id="sidebar" class="col-md-3 col-sm-12">
                {% include '_sidebar.html' %}
            </div> <!-- end #sidebar -->

            </div> <!-- end #row -->
            <hr />
            <footer>&copy; {% now "Y" %} Marth's Anime Blog | Powered by Marth's Free Time</footer> <!-- end #footer -->
        </div>
    </div> <!-- end #page-wrapper -->
</div> <!-- end #wrapper -->

{% block footer %}{% endblock %}


</body></html>
