<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Just a random blog where I talk about anime.">

<title>{% block title %}Marth's Anime Blog{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/live/darkv17.css' %}" title="dark" />
<link rel="alternate stylesheet" type="text/css" href="{% static 'css/live/lightv17.css' %}" title="light" />

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#marthbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="/">Marth's Anime Blog</a>
            </div>

            <div class="collapse navbar-collapse" id="marthbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li {% block nav-about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
                    <li {% block nav-blogroll %}{% endblock %}><a href="{% url 'blogroll' %}">Blogroll</a></li>
                    <li {% block nav-contact %}{% endblock %}><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="/blog/category/editorial">Editorials</a></li>
                    <li {% block nav-reviews %}{% endblock %}><a href="{% url 'reviews' %}">Reviews</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right" id="menu-icons">
                    <li><a href="http://www.facebook.com/marth.anime"><img src="{% static 'icons/facebookx.png' %}" alt="facebook page" width=32 height=32></a></li>
                    <li><a href="http://www.twitter.com/marthaurion"><img src="{% static 'icons/twitterx.png' %}" alt="follow on twitter" width=32 height=32></a></li>
                    <li><a href="http://feeds.feedburner.com/marthaurion/rzFS"><img src="{% static 'icons/rssx.png' %}" alt="rss feed" width=32 height=32></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}">{{ message }}</div>
            {% endfor %}
            <h1>Marth's Anime Blog</h1>
        </div>
        
        <div class="container-fluid">
            <div class="banner">
                <img src="{% static 'banners/banner0.jpg' %}" alt="Marth's Site Banner" height="200" width="980" class="img-responsive" />
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
            <div id="content" class="col-md-8 col-sm-12">
                {% block content %}{% endblock %}
            </div> <!-- end #content -->

            <div id="sidebar" class="col-md-4 col-sm-12">
                <div class="sidebar-module">
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" onclick="setActiveStyleSheet('dark')">Dark</a>
                        <a href="#" class="btn btn-primary" onclick="setActiveStyleSheet('light')">Light</a>
                    </div>
                </div>
                
                <hr>
                
                <div class="sidebar-module">
                    <h4><strong>Follow on Wordpress</strong></h4>
                    <p>If you prefer to follow me on Wordpress to keep up with my posts, I post to <a href="https://marthaurion.wordpress.com">this Wordpress blog</a> for every post here, so follow me there.</p>
                </div>
                
                <div class="sidebar-module">
                    <h4><strong>Search</strong></h4>
                    <form id="searchform" action="{% url 'blog_search_list' %}" method="get" accept-charset="utf-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                {% if categories.exists %}
                <div class="sidebar-module">
                    <h4><strong>Categories</strong></h4>
                    {% load mptt_tags %}
                    <ul class="list-unstyled">
                        {% recursetree categories %}
                            {{ node.get_display|safe }}
                            {% if not node.is_leaf_node %}
                                <ul id="cat-{{ node.slug }}" class="list-unstyled collapse {{ node.get_active_string }}">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                </div>
                {% endif %}
                
                <div class="sidebar-module">
                    <h4><strong>Blogroll</strong></h4>
                    <ul class="list-unstyled">
                        <li><a href="https://100wordanime.wordpress.com/">100WordAnime</a></li>
                        <li><a href="http://www.animenano.com/">Anime Nano</a></li>
                        <li><a href="http://www.freelanceanimeblog.com/">Freelance Anime Blog</a></li>
                        <li><a href="https://theholybookofhappypeach.wordpress.com/">Happy Peach</a></li>
                        <li><a href="https://deluscar.wordpress.com/">Kai's Anime Blog</a></li>
                        <li><a href="http://marthaurion.wordpress.com/">Marth's Wordpress Blog</a></li>
                        <li><a href="http://nightsworn.blogspot.com/">Nightsworn's Blog</a></li>
                        <li><a href="https://nichinichichan.wordpress.com/">Nishi Nishi-chan</a></li>
                        <li><a href="http://wanabrar.com/blog/">Wanabrar</a></li>
                        <li><a href="https://yaharibento.wordpress.com/">Yahari Bento</a></li>
                    </ul>
                </div>
                
                {% comment "recent comments section" %}
                {% if recent_comments.exists %}
                <div class="sidebar-module">
                    <h4><strong>Recent Comments</strong></h4>
                    <ul class="media-list">
                    {% for comment in recent_comments %}
                        <li class="media"><div class="media-left">
                            <img class="media-object" src="{{ comment.author.get_image_url }}" alt="testing" height="40" width="40" />
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.author.get_commenter_text|safe }} on <a href="{{ comment.get_absolute_url }}">{{ comment.post.title }}</a>
                        </h4>
                        </div></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endcomment %}
                
                <div class="sidebar-module">
                    <h4><strong>Email Subscriptions</strong></h4>
                    <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=marthaurion/rzFS', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <p>Enter your email address and get a notification for each new post.</p>
                        <p><input type="text" class="form-control" name="email" placeholder="Email Address" /></p>
                        <input type="hidden" value="marthaurion/rzFS" name="uri"/>
                        <input type="hidden" name="loc" value="en_US"/>
                        <button type="submit" class="btn btn-default">Subscribe</button>
                        <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
                    </form>
                </div>
            </div> <!-- end #sidebar -->

            </div> <!-- end #row -->
            <hr />
            <footer>&copy; 2011-{% now "Y" %} Marth's Anime Blog | Powered by Marth's Free Time</footer> <!-- end #footer -->
        </div>
    </div> <!-- end #page-wrapper -->
</div> <!-- end #wrapper -->

{% block footer %}{% endblock %}

<script type="text/javascript" src="{% static 'js/allv16.min.js' %}" async></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1075113-9', 'auto');
  ga('send', 'pageview');

</script>

</body></html>
