{% extends "base.html" %}

{% block nav-blogroll %}class="active"{% endblock %}

{% block content %}
    <h2>Blogroll</h2><br />
    <p>So, I created a formal page for these links. Let me know in the comments or through the contact page (for privacy?) if you want me to add your blog.</p>
    <p><a href="https://100wordanime.wordpress.com/">100WordAnime</a> - Short posts used to be my style, so it's fun to read them. Such low time commitment! If you're into longer reviews, though, the full-season reviews tend to be lengthier.</p>
    <p><a href="http://www.animenano.com/">Anime Nano</a> - An aggregation of anime blogs for when you're looking for more stuff.</p>
    <p><a href="https://theholybookofhappypeach.wordpress.com/">Happy Peach</a> - Can be a bit inconsistent at times, but hey...stuff to read, right? More similar to my style, I guess?</p>
    <p><a href="https://deluscar.wordpress.com/">Kai's Anime Blog</a> - More on the editorial side of blog posts.</p>
    <p><a href="http://nightsworn.blogspot.com/">Nightsworn's Blog</a> - Focuses a bit more on voice acting.</p>
    <p><a href="https://nichinichichan.wordpress.com/">Nishi Nishi-chan</a> - Reviews and episodic impressions on some select shows of the season.</p>
    <p><a href="http://wanabrar.com/blog/">Wanabrar</a></p>
    <p><a href="https://yaharibento.wordpress.com/">Yahari Bento</a> - Bit of a cluster of themed posts.</p>
    
    <hr />
    
    {% load disqus_tags %}
    {% disqus_show_comments %}
{% endblock %}